{% extends "base.html" %}

{% block title %}
Reset Password | {{ block.super }}
{% endblock %}

{% block header %}
<h1>Microblog Demo Password Reset Form</h1>
{% endblock %}

{% block content %}
{% if validlink %}
<form action="" method="POST">
    <table>
	{{form.as_table}}
	<tr><td colspan="2"><input type="submit"/></td></tr>
    </table>
</form>
{% else %}
Password reset unavailable; the reset link was either invalid or already used.
Please request a new password reset link.
{% endif %}
{% endblock %}

