<ul>
{% if entries.count %}
    {% for entry in entries %}
	<li>
	    <div><a href="{% url microblog_profile username=entry.owner.user.username %}">{{ entry.owner.user.username }}</a>:
		 "{{ entry.content }}" -- {{ entry.post_date }}
		 <a href="{% url microblog_entry_reply username=user.username, id=entry.id %}">Reply</a>
	    </div>
	    {% if entry.reply_to %}
		<div>(Reply to
		     <a href="{% url microblog_entry username=entry.reply_to.owner.user.username, id=entry.reply_to.id %}">
		     @{{ entry.reply_to.id }}</a>): "{{ entry.reply_to.content }}"</div>
	    {% endif %}
	    {% if entry.tags %}
		<div> Tags:
		{% for tag in entry.tags %}
		    {{ tag }}
		{% endfor %}
		</div>
	    {% endif %}
	    {% include "microblog/reply_form.html" %}
	</li>
    {% endfor %}
{% else %}
    <li>No entries.</li>
{% endif %}
</ul>

