{% load microblog_tags %}

{% with "microblog/entry_detail.html" as detail_template %}
<li>
    {% spaceless %}
    {% if entry.highlight %}<strong>{%endif%}
    <div><a href="{% url microblog_profile username=entry.owner.user.username %}">{{ entry.owner.user.username }}</a>
	 <span>{% if entry.to_you %} to you{% endif %}:</span>
	 "{{ entry.content }}" -- {{ entry.post_date }}
    </div>
    {% if entry.highlight %}</strong>{%endif%}
    {% endspaceless %}
    {% if entry.tags %}
	<div> Tags:
	{% for tag in entry.tags %}
	    {{ tag }}
	{% endfor %}
	</div>
    {% endif %}
    {% include "microblog/reply_form.html" %}
    {% if entry.replies.count %}
	<ul>
	{% for entry in entry.replies.all|fill_microblog_feed:user %}
	    {% include detail_template %}
	{% endfor %}
	</ul>
    {% endif %}
</li>

{% endwith %}
