{% extends "base.html" %}
{% load microblog_tags %}

{% block title %}
@{{ entry.pk }} | Profile | {{ block.super }}
{% endblock %}

{% block header %}
<h1>@{{ entry.pk }} -- Microblogging Demo</h1>
{% endblock %}

{% block content %}
{% if parents %}
    Parents:
    {% with parents as entries %}
        {% include "microblog/entry_list.html" %}
    {% endwith %}
    <hr />
{% endif %}
{% with entry|fill_microblog_entry:user as entry %}
<ul>
{% include "microblog/entry_detail.html" %}
</ul>
{% endwith %}
{% endblock %}

